<button type="button" class="btn btn-dark" (click)="changeShowFormProperty()">Add new player</button>

<form *ngIf="showForm" #playerForm="ngForm" ngNativeValidate>
    <div class="form-group">
      <label for="playerName">Name</label>
      <input type="text" class="form-control" id="playerName" required [(ngModel)]="model.playerName" name="playerName">
    </div>
    <div class="form-group">
      <label for="playerSurname">Surname</label>
      <input type="text" class="form-control" id="playerSurname" [(ngModel)]="model.playerSurname" name="playerSurname">
    </div>
    <div class="form-group">
        <label for="playerNuber">Number</label>
        <input type="number" class="form-control" id="playerNumber" [(ngModel)]="model.number" name="playerNumber">
    </div>
    <div class="form-group">
        <label for="playerHeight">Height</label>
        <input type="number" class="form-control" id="playerHeight" [(ngModel)]="model.height" name="playerHeight">
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect2">Position</label>
        <select multiple class="form-control" id="playerPosition"  required [(ngModel)]="selectedPosition" name="playerPosition">
          <option *ngFor="let position of playerPosition" [value]="position">{{position}}</option>
        </select>
      </div>
      <div class="form-group">
          <label for="playerAppearances">Appearances</label>
          <input type="number" class="form-control" id="Appearances" [(ngModel)]="model.appearances" name="playerAppearances">
      </div>
    <button type="button" class="btn btn-secondary" (click)="playerForm.reset()">New Player</button>
    <button type="submit" class="btn btn-default" (click)="addPlayerToTeam()" [disabled]="!playerForm.form.valid">Create</button>
</form>

