<!-- Modal -->
<div class="modal fade" id="editPlayer" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Edit Player</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form *ngIf="model != undefined" #editPlayerForm="ngForm" ngNativeValidate>
              <div class="form-group">
                <label for="playerName">Name</label>
                <input type="text" class="form-control" id="playerName" required [(ngModel)]="model.playerName" name="playerName">
              </div>
              <div class="form-group">
                <label for="playerSurname">Surname</label>
                <input type="text" class="form-control" id="playerSurname" [(ngModel)]="model.playerSurname" name="playerSurname">
              </div>
              <div class="form-group">
                  <label for="playerNuber">Number</label>
                  <input type="number" class="form-control" id="playerNumber" [(ngModel)]="model.number" name="playerNumber">
              </div>
              <div class="form-group">
                  <label for="playerHeight">Height</label>
                  <input type="number" class="form-control" id="playerHeight" [(ngModel)]="model.height" name="playerHeight">
              </div>
              <div class="form-group">
                  <label for="playerAppearances">Appearances</label>
                  <input type="number" class="form-control" id="Appearances" [(ngModel)]="model.appearances" name="playerAppearances">
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
          </form>
      </div>
    </div>
  </div>

  <!-- TEST -->
  <form [formGroup]="editPlayerForm">
      <div formGroupName="name">
        <input formControlName="first" placeholder="First">
        <input formControlName="last" placeholder="Last">
      </div>
      <input formControlName="email" placeholder="Email">
      <button>Submit</button>
  </form>

</div>

